@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .rightside-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(30, 30, 50, 0.95);
  }
}
